<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Our notes</h2>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Note List</h2>
          <p><a class="btn btn-default" href="#/notes" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p> Our social media and other stuff</p>
      </footer>
    </div> <!-- /container -->
